<div class="tw-bg-indigo-600 tw-rounded-xl">
    <a style="text-decoration: none" href="https://pairprogram.com?ref=codesnippet.io&src=banner">
        <div class="tw-mx-auto tw-max-w-7xl tw-py-4 tw-px-3 sm:tw-px-6 lg:tw-px-8">
            <div class="tw-flex tw-flex-wrap tw-items-center tw-justify-between">
                <div class="tw-flex tw-w-0 tw-flex-1 tw-justify-center tw-items-center tw-space-x-8">
                    <div class="tw-rounded-lg tw-bg-indigo-800 tw-p-2">
                        <div class="tw-flex tw-items-center">
                            {{> icons/pairprogram }}
                        </div>
                    </div>
                    <p class="tw-ml-3 tw-truncate tw-font-medium tw-text-white">

                        <span class="tw-text-white tw-block md:tw-hidden tw-text-center">Coding is better together</span>

                        <span class="tw-text-white tw-hidden tw-text-center md:tw-block">Build strong coding habits and learn job-ready skills</span>
                    </p>
                    <div class="tw-text-white">
                        {{> icons/move-right }}
                    </div>
                    <div class="tw-hidden md:tw-block tw-order-3 tw-w-full tw-flex-shrink-0 sm:tw-order-2 sm:tw-mt-0 sm:tw-w-auto">

                        <button type="button"
                                class="tw-inline-flex tw-items-center tw-rounded-md tw-border tw-border-indigo-400 tw-bg-indigo-500 tw-px-4 tw-py-2 tw-text-sm tw-font-medium tw-text-white tw-shadow-sm hover:tw-bg-indigo-700 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-indigo-500 focus:tw-ring-offset-2">
                            <span class="-tw-ml-1 tw-mr-2">{{> icons/zap }}</span>
                            <span class="tw-text-xl">Learn to code with others</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
